<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Based Depth Estimator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <h1 class="main-title">Real-time Image Depth Gradient Predictor Using OpenCV & Depth Anything</h1>
    <div class="container">
        <form method="POST">
            <button type="submit" class="upload-btn">Start my webcam</button>
            <button type="submit" class="upload-btn"><a href="/stop">Stop my webcam</button>
        </form>
    </div>
</body>
</html>
